**.orig
*.rbc
*.sassc
*.swp
.DS_Store
.DS_Store
.bundle
.cache
.idea/*
.mm-pid-*
.project
.rbenv-version
.rspec
.ruby-version
.rvmrc
.rvmrc
.sass-cache
/.bundle
coverage
/db/*.sqlite3
log
/public/system/*
/spec/tmp/*
tmp
/vendor/bundle
Gemfile.lock
bin
build
capybara-*.html
config/initializers/secret_token.rb
pickle-email-*.html
rerun.txt
