#header {
  background: #ffffff;
  border-bottom: 1px solid darken(#000000, 5%);
  margin: 0 0 50px 0;
  color: #5A5F5E;
  h1 {
    position: absolute;
    left: 0;
    bottom: -38px;
    // LOGO
  }
  p {
    @include span-columns(10);
    @include push(6);
    font-family: $display-monospace-font-family;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 18px;
    color: #F36D51;
  }
  .container {
    overflow: visible;
  }
  .toc-nav-link {
    display: none;
  }
  #search {
    @include span-columns(8 omega);
    text-align: right;
    margin-top: 9px;
  }
}

#toc {
  @include span-columns(5);
  margin-top: 15px;
  div:first-child h3{
    margin-top: 0;
  }
  footer {
    margin: 20px 0;
  }
}

#main {
  @include span-columns(13);
  @include squish(1,1);
  h1:first-child {
    line-height: 1;
    font-weight: bold;
  }
  h2,
  h3 {
    margin-top: 1em;
  }
  pre {
    background: #F8F8F8;
    padding: 0.5em 1em;
    margin: 1.5em 0;
    overflow: auto;
    @include border-radius(4px);
  }
  footer {
    background: #c6bda8;
    padding: 1em 10px;
    @include clearfix;
    
    p {
      margin: 0;
      &.left {
        @include float-left;
      }
      &.right {
        @include float-right;
      }
    }
  }
}

