body {
  text-rendering: optimizeLegibility;
  background: #ffffff;
  margin: 0; 
}

.logo {
  @include border-radius(4px);
  overflow: hidden;
  display: block;
  width: 225px;
  height: absolute;
}

.container {
  @include container;
  @include pie-clearfix;
  position: relative; 
  overflow: visible;
}

.console {
  font-family: $display-monospace-font-family;
  font-weight: normal;
  line-height: 1.2;
  word-spacing: 0.3em;
}



pre,
code {
  font-family: "Menlo", monospace;
  -webkit-text-size-adjust: 100%;
}

code {
  font-size: 16px;
  line-height: 21px;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

#main_header {
  margin: 20px auto 50px auto;
  
  .main_logo {
    @include border-radius(4px);
    overflow: hidden;
    display: block;
    width: 350px;
    margin: auto;
  }
  h1 {
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: #666;
  }
  
}

.column {
  margin: auto;
  max-width: 900px;
  position: relative;
  overflow: visible;
}

footer {
  margin: 50px auto 30px auto;
  padding-bottom: 30px;
  max-width: 900px;
  p {
    color: #5A5F5E;
    margin: 0;
    font-size: 13px;
  }
  a {
    color: #5A5F5E;
    @include hover_link;
  }
  .copyright {
    @include float-left; 
  }
  .link {
    @include float-right; 
  }
}


.homepage_main_container {
  max-width: 950px;
  margin: auto;
}