<% wrap_layout :layout do %>
  <header id="header">
    <div class="container">
      <h1><%= link_to image_tag("zillabyte.png", :alt => "Zillabyte"), "#{locale_prefix}/", { :class => 'logo' } %></h1>
      
      <p class="console">$ gem install zillabyte</p>
      <div id="search">
      </div>

      <a class="toc-nav-link icon-arrow-down" href="#toc">Menu</a>
    </div>
  </header>

  <div class="container">
    <nav id="toc">
      <%= partial 'layouts/nav' %>
    </nav>

    <article id="main" role="main">
      <%= yield %>
    </article>

    <%= partial "layouts/support" %>
  </div>
<% end %>
