<h1>
  <small>HOW TO:</small>
  Create a Commerce Index
</h1>

Zillabyte aggregates data from the entire web and creates an index based on your criteria. 

A Zillabyte customer came to us wanting to rank the web according to the use of commerce technologies. Using Zillabyte, she was able to write a bit of code and get her answer. Here's how you can do it as well. 

<%= h2_link("The Code") %>

```ruby
<%= link_file("../examples/index_commerce/app.rb") %>
```

<%= h2_link("Push to Zillabyte") %>

```bash
# in your terminal
$ zillabyte push
```

<%= h2_link("Download Data") %>

```bash
# in your terminal
$ zillabyte data:download commerce_index
```


