:markdown
	### Documentation
	Code Test (ruby)

	In-line markdown
	```
		print "hi"
	```


Ruby
%pre.prettyprint.lang-ruby
	%code.lang-ruby
		:preserve
			def foo(test)
				Thread.new do |blockvar|
					answer = valid?
				end.join
			end

Python
%pre.prettyprint.lang-python
	%code.lang-python
		def somefunc(param1='', param2=0):
