---
layout: page
---
- @title = "Hello Worlds in Silicon Valley Quickstart"
- @bodyclass = "newproject"

%p
= link_to "Documentation Home", "/index.html"

%br
%br

%h2
  Hello Worlds in Silicon Valley Quickstart
