- @title = "Zillabyte Documentation"
- @bodyclass = "newproject"

.hero-unit
  :markdown
    ### Welcome to Zillabyte
    Zillabyte is a command-line utility that allows you to analyze the web. Servers, scale, concurrency, performance are baked in. It's just you & the command line.

:markdown
  ### Setup
  
  Have you installed the <kbd>zillabyte</kbd> gem? If not, now is the time to setup your environment as described in [getting started with Zillabyte documentation](http://docs.zillabyte.com/setup). 
  

  ### Feedback

  If something really sucks, let us know. If you'd like to see a new feature, let us know. Send emails to [feedback\[SHIFT+2\]zillabyte.com]. You will get a response within 24 hours.
